<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>SUFeedURL</key>
	<string>https://github.com/benbrackenbury/TokenPanel/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>hTlbybc+uh1iDdzbfSlZRetPw9//Pm7nMHs5rJnXOzo=</string>
</dict>
</plist>
